{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translatetor</title>
    <link rel="stylesheet" href="{% static 'bootstrap\css\bootstrap.css' %}" />
  </head>

  <body class="container d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin m-auto w-50">
      <form method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Python Translatetor</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control w-75 border border-primary" placeholder="..." id="text" name="text" value="{{ data.origin }}">
            <select class="form-select w-25 border border-primary" id="lang" name="lang">
                <option {% if data.dest == 'en' %} selected {% endif %} value="en">English</option>
                <option {% if data.dest == 'fr' %} selected {% endif %} value="fr">French</option>
                <option {% if data.dest == 'de' %} selected {% endif %} value="de">German</option>
                <option {% if data.dest == 'es' %} selected {% endif %} value="es">Spanish</option>
                <option {% if data.dest == 'ru' %} selected {% endif %} value="ru">Russian</option>
              </select>
          </div>
          <h1 class="h4 mb-3 fw-normal border border-primary p-3 rounded">{{ data.text }}</h1>
        <button class="btn btn-primary w-100 py-2" type="submit">
          Translate
        </button>
      </form>
    </main>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>
